---
import Layout from "../layouts/Layout.astro";
import PageBanner from "../components/PageBanner.astro";

export async function getStaticPaths() {
  const archive = await Astro.glob("../archive/*.md");
  return archive.map((single) => ({
    params: {
      slug: single.frontmatter.slug,
    },
    props: {
      single,
    },
  }));
}

const { Content, frontmatter } = Astro.props.single;
---

<Layout title={"Panda - " + frontmatter.title}>
  <div class="mx-6">
    <!-- About me -->
    <section>
      <PageBanner text={frontmatter.title} />
      {frontmatter.blog ? 
        <a href="/blog">Go back to Blog</a> 
        <h1>{frontmatter.title}</h1>
        <p>{frontmatter.content}</p>
        <Content /> 
        :
        <a href="/projects">Go back to Projects</a> 
        <h1>{frontmatter.title}</h1>
        <p>{frontmatter.content}</p>
        <img src={frontmatter.imgPath} alt={frontmatter.imgPath}>
        <Content />
      }
    </section>
  </div>
</Layout>
