---
import Layout from "../layouts/Layout.astro";
import PageBanner from "../components/PageBanner.astro";
const archive = await Astro.glob("../archive/*.md");
---

<Layout title="Projects - Panda">
  <!-- Hero and Featured Projects Section  -->
  <section>
    <PageBanner text="Projects" />
    <h1>Projects</h1>
    <h2>Featured Projects</h2>
    <div>
      {
        archive.map((single) => (
          <div>
            {!single.frontmatter.blog && single.frontmatter.featured && (
              <a href={`/${single.frontmatter.slug}`}>
                <h3 class="text-text">{single.frontmatter.title}</h3>
                <p>{single.frontmatter.excerpt}</p>
              </a>
            )}
          </div>
        ))
      }
    </div>
  </section>
  <!-- Filtered Projects  -->
  <section>
    <!-- Filter  -->
    <div></div>
    <!-- Project list  -->
    <div class="flex flex-wrap justify-center gap-6">
      {
        archive.map(
          (single) =>
            !single.frontmatter.blog && (
              <a
                href={`/${single.frontmatter.slug}`}
                class="bg-neutral h-96 w-96 overflow-y-scroll"
              >
                <div class="">
                  <div>
                    <img src={single.frontmatter.thumbnail} alt="" />
                  </div>
                  <h3 class="text-text">{single.frontmatter.title}</h3>
                  <p>{single.frontmatter.excerpt}</p>
                </div>
              </a>
            )
        )
      }
    </div>
  </section>
</Layout>
